---
layout: layouts/default.njk
---
<section class="col-start-2 section">
    <h2 class="section-header">Клиники в Турции</h2>
    <article class="p-4 text-justify section-body">
        A list of items from "main" folder...
    </article>
</section>