---
layout: layouts/page.njk

section: 
    title: Клиники в Швейцарии
    content: clinics/switzerland
---
<section class="col-start-2 section">
    <h2 class="section-header">Клиники в Швейцарии</h2>
    <article class="p-4 text-justify section-body">
        A list of items from "main" folder...
    </article>
</section>